/*1/3 Header*/

/*header space*/

.container {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: #222629;
}

/*navigation bar*/

.navbar {
  position: relative;
  display: inline-flex;
  justify-content: space-around;
  justify-content: center;
  height: 65px;
  width: 100%;
  border-color: #88BDBC;
  border-bottom: none;
  border-left: none;
  border-right: none;
  padding-left: -20px;
  padding-right: 15px;
}

.navlink {
  position: relative;
  display: inline-flex;
  justify-content: center;
  color: #88BDBC;
  background-color: #222629;
  padding-top: 10px;
  height: 40px;
  width: 130px;
  border-radius: 10px;
  text-decoration: none;
}

.navlink.active {
  position: relative;
  display: flex;
  justify-content: center;
  background-color: #88BDBC;
  color: #222629;
  text-decoration: none;
}

ul {
  position: relative;
  display: inline-flex;
  justify-content: center;
}

li {
  position: relative;
  display: inline-flex;
  padding-top: 20px;
  padding-right: 20px;
  text-align: center;
}

/*navigation buttons*/

.home>a:hover {
  color: #222629;
  background-color: #474B4F;
  text-decoration: none;
}

.inventory>a:hover {
  color: #222629;
  background-color: #474B4F;
  text-decoration: none;
}

.contact>a:hover {
  color: #222629;
  background-color: #474B4F;
  text-decoration: none;
}

.about>a:hover {
  color: #222629;
  background-color: #474B4F;
  text-decoration: none;
}

/*2/3 Main Body Context*/

/*background container*/

.container2 {
  position: relative;
  display: flex;
  width: 100%;
  height: 1000px;
  background-color: #474B4F;
}

/*foreground container*/

.box2 {
  position: relative;
  display: flex;
  margin: 0 auto;
  width: 65%;
  height: inherit;
  background-color: #88BDBC;
}

/*movie container*/

#w-engine {
  font-family: serif;
  margin-bottom: 3px;
}

#line {
  margin-bottom: 27px;
}

#line2 {
  margin-top: 12px;
  margin-bottom: 5px;
}

#w-enginetext {
  position: relative;
  display: flex;
  padding-top: 20px;
  width: 560px;
  text-align: left;
}

.subContainer {
  position: relative;
  display: inline-block;
  justify-content: center;
  margin: 0 auto;
  padding-top: 100px;
  text-align: center;
}

/*Carousel*/

#myCarousel {
  margin-bottom: 21px;
}

/*Table*/

.table {
  position: relative;
  display: inline-block;
  justify-content: center;
  padding-top: 30px;
}

.th {
  text-align: center;
  padding-right: 23px;
}

td {
  padding-right: 23px;
}


/*About*/

#about {
  position: relative;
  display: flex;
  width: 560px;
  text-align: left;
}

/*Contact*/

.containerUp {
  position: relative;
  display: flex;
  justify-content: center;
  flex-basis: 600px;
  flex-grow: 10;
  width;
  400px;
  height: 165px;
}

.contactBoxA {
  position: relative;
  display: block;
  justify-content: flex-start;
  text-align: left;
  flex-basis: 170px;
  flex-grow: 10;
}

.boxA {
  position: relative;
  display: block;
  text-align: left;
}

.contactBoxB {
  position: relative;
  display: block;
  justify-content: flex-end;
  text-align: right;
  flex-basis: 170px;
}

.boxB {
  position: relative;
  display: block;
  text-align: right;
}

.containerDown {
  position: relative;
  display: flex;
  justify-content: center;
  flex-basis: 600px;
  flex-grow: 10;
  padding-top: 75px;
  width: 600px;
}

.contactBoxC {
  position: relative;
  display: inline-block;
  justify-content: flex-start;
  flex-basis: 170px;
  flex-grow: 10;
  height: 400px;
  text-align: left;
}

.contactBoxD {
  position: relative;
  display: inline-block;
  justify-content: flex-end;
  flex-basis: 170px;
  text-align: right;
}

#legend {
  text-decoration: none;
  text-align: left;
  font-family: serif;
  font-size: 24px;
}

/*3/3 Footer*/

/*footer*/

.container3 {
  position: relative;
  display: inline-flex;
  justify-content: space-between;
  width: 100%;
  height: 300px;
  background-color: #222629;
}

.footerLeft {
  position: relative;
  display: block;
  color: #88BDBC;
  font-size: 16px;
  text-align: left;
  margin-left: 18%;
  padding-top: 20px;
}

.commPre {
  text-decoration: underline;
}

.comm4>a {
  color: #88BDBC;
}

.footerMid {
  position: relative;
  display: inline;
  color: #88BDBC;
  font-size: 16px;
  text-align: center;
  padding-top: 20px;
  padding-right: 50px;
  margin: 0 auto;
}

.line1 {
  text-decoration: underline;
}

.footerRight {
  position: relative;
  display: inline;
  color: #88BDBC;
  font-size: 16px;
  text-align: right;
  margin-right: 18%;
  padding-top: 20px;
}

.locLine1 {
  text-decoration: underline;
}
