

/*header space*/

.container {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: #222629;
}


/*navigation bar*/

.navbar {
  position: relative;
  display: inline-flex;
  justify-content: space-around;
  justify-content: center;
  height: 65px;
  width: 100%;
  border-color: #88BDBC;
  border-bottom: none;
  border-left: none;
  border-right: none;
  padding-left: -20px;
  padding-right: 15px;

}

.navlink {
  position: relative;
  display: inline-flex;
  justify-content: center;
  color: #88BDBC;
  background-color: #222629;
  padding-top: 10px;

  height: 40px;
  width: 130px;
  border-radius: 10px;
  text-decoration: none;
}

.navlink.active {
  position: relative;
  display: flex;
  justify-content: center;
  background-color: #88BDBC;
  color: #222629;
  text-decoration: none;
}

ul {
  position: relative;
  display: inline-flex;
  justify-content: center;
}

li {
  position: relative;
  display: inline-flex;
  padding-top: 20px;
  padding-right: 20px;
  text-align: center;
}


/*navigation buttons*/

.home>a:hover {
  color: #222629;
  background-color: #474B4F;
  text-decoration: none;
}

.inventory>a:hover {
  color: #222629;
  background-color: #474B4F;
  text-decoration: none;
}

.contact>a:hover {
  color: #222629;
  background-color: #474B4F;
  text-decoration: none;
}

.about>a:hover {
  color: #222629;
  background-color: #474B4F;
  text-decoration: none;
}


/*background container*/

.container2 {
  position: relative;
  display: flex;
  width: 100%;
  height: 1000px;
  background-color: #474B4F;
}


/*foreground container*/

.box2 {
  position: relative;
  display: flex;
  margin: 0 auto;
  width: 65%;
  height: inherit;
  background-color: #88BDBC;
}


/*footer*/

.container3 {
  position: relative;
  display: inline-flex;
  justify-content: space-between;
  width: 100%;
  height: 300px;
  background-color: #222629;
}

.footerLeft {
  position: relative;
  display: block;
  color: #88BDBC;
  font-size: 16px;
  text-align: left;
  margin-left: 18%;
  padding-top: 20px;
}

.commPre {
  text-decoration: underline;
}

.comm4>a {
  color: #88BDBC;
}

.footerMid {
  position: relative;
  display: inline;
  color: #88BDBC;
  font-size: 16px;
  text-align: center;
  padding-top: 20px;
  padding-right: 50px;
  margin: 0 auto;
}

.line1 {
  text-decoration: underline;
}

.footerRight {
  position: relative;
  display: inline;
  color: #88BDBC;
  font-size: 16px;
  text-align: right;
  margin-right: 18%;
  padding-top: 20px;
}

.locLine1 {
  text-decoration: underline;
}
